CREATE TABLE photos (
id SERIAL PRIMARY KEY,
url VARCHAR(200),
user_id INTEGER REFERENCES users(id)
);
 
INSERT INTO photos (url, user_id)
VALUES
('http:/one.jpg', 4),
('http:/two.jpg', 1),
('http:/25.jpg', 1),
('http:/36.jpg', 1),
('http:/754.jpg', 2),
('http:/35.jpg', 3),
('http:/256.jpg', 4);

"City" table creation and inserting first rows

CREATE TABLE cities (
	name VARCHAR(50),
  country VARCHAR(50),
  population INTEGER,
  area INTEGER
);

Create table with specified PRIMARY KEY

CREATE TABLE users (
  id SERIAL PRIMARY KEY,
  username VARCHAR(20)
);

Create table with specified PRIMARY KEY AND FOREIGN KEYS

CREATE TABLE photos (
  id SERIAL PRIMARY KEY,
  url VARCHAR (100),
  user_id INTEGER REFERENCES users(id)
);

Create table with ON DELETE CASCADE DEFINED

CREATE TABLE photos (
id SERIAL PRIMARY KEY,
url VARCHAR(200),
user_id INTEGER REFERENCES users(id) ON DELETE CASCADE
);
 
INSERT INTO photos (url, user_id)
VALUES
('http:/one.jpg', 4),
('http:/two.jpg', 1),
('http:/25.jpg', 1),
('http:/36.jpg', 1),
('http:/754.jpg', 2),
('http:/35.jpg', 3),
('http:/256.jpg', 4);

Create table with ON DELETE SET NULL DEFINED

CREATE TABLE photos (
id SERIAL PRIMARY KEY,
url VARCHAR(200),
user_id INTEGER REFERENCES users(id) ON DELETE SET NULL
);
 
INSERT INTO photos (url, user_id)
VALUES
('http:/one.jpg', 4),
('http:/two.jpg', 2),
('http:/25.jpg', 3),
('http:/36.jpg', 4),
('http:/754.jpg', 2),
('http:/35.jpg', 3),
('http:/256.jpg', 4);

Create table with CHECK and NOT NULL as DEFAULT

CREATE TABLE orders (
	id SERIAL PRIMARY KEY,
	name VARCHAR(50) NOT NULL DEFAULT 'default_order',
	created_at TIMESTAMP NOT NULL,
	est_delivery TIMESTAMP NOT NULL,
	CHECK (created_at < est_delivery)
);

Inserting first row with values corresponding the consecutive columns

INSERT INTO cities (name, country, population, area)
VALUES ('Warsaw', 'Poland', 100000, 200);

Inserting multiple rows

INSERT INTO cities (name, country, population, area)
VALUES 
    ('Lublin', 'Poland', 30000, 100),
    ('Rzeszow', 'Poland', 20000, 50);

Inserting into table that records have foreign keys to recoreds from different tables

1 is a PK of 'user' in 'users' table. This value must appear as a PK in 'users' records

INSERT INTO photos (url, user_id)
VALUES ('asdasdasd', 1);

We add NULL as FK, when there is no reference to record from referent table

INSERT INTO photos (url, user_id)
VALUES ('sdds', NULL);

INSERT with DATE as TIMESTAMP

INSERT INTO orders (name, created_at, est_delivery)
VALUES('order_1', '2023-SEP-17'::TIMESTAMP, '2023-SEP-23'::TIMESTAMP);