Drop table

DROP TABLE table_name;

SET opeartions

UPDATE cities SET population = 50 WHERE name = 'Berlin';

DELETE opeartions

DELETE FROM cities WHERE country IN ('England', 'France');
DELETE FROM cities WHERE LENGTH(CONCAT(country, area)) > 12;

DELETE FROM table that is referred to in different table (violation of FK constraint) - default option

DELETE FROM users WHERE id = 2;

update or delete on table "users" violates foreign key constraint "photos_user_id_fkey" on table "photos"

JOIN/INNER JOIN - joins only the rows from 2 tables that have the correspondung PK-FK

SELECT name FROM phones ORDER BY price DESC  LIMIT 2 OFFSET 1;

UNION 

By default deletes duplicates of rows (if appear in both queries)

If we want to show all rows, UNION ALL

(
  SELECT * FROM products 
  ORDER BY price DESC
  LIMIT 4
)
UNION ALL
(
  SELECT * FROM products 
  ORDER BY price/weight DESC
  LIMIT 4
);

UNION works if we combine columns of the same type

SELECT weight FROM products
UNION 
SELECT price FROM products

UNION doesn't work if we combine columns of different types

SELECT weight FROM products
UNION 
SELECT name FROM products

INTERSECT

INTERSECT finds the common rows in the results of 2 queries. Removes Duplicates.

INTERSECT ALL finds the common rows in the results of 2 queries. Doesn't remove duplicates.

(
SELECT weight, name FROM products
ORDER BY weight DESC
OFFSET 0
LIMIT 5
)
INTERSECT 
(
SELECT weight, name FROM products
ORDER BY weight DESC
OFFSET 1
LIMIT 5
);

EXCEPT

Returns rows that appear in 1. result set but not in 2. result set

EXCEPT ALL includes duplicates in the 1. result set

(
SELECT weight, name FROM products
ORDER BY weight DESC
OFFSET 0
LIMIT 5
)
EXCEPT 
(
SELECT weight, name FROM products
ORDER BY weight DESC
OFFSET 1
LIMIT 5
);